
<div class="jumbotron">
	<h1>About This Web Application</h1>
	<p> This isn't a real application. Well, technically that's not true I guess. The app works (I hope) but I don't want anyone to really use it. The reason this website exists is because I basically copied Pinterest to the best of my ability in order to learn how to code in Ruby on Rails. I made this web app with zero prior programming experience.</p>
</div>